
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
.welcome-container, .login-form-container, .dashboard-container {
    width: 60%;
    margin: 100px auto;
    text-align: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.welcome-container:hover, .login-form-container:hover, .dashboard-container:hover {
    transform: scale(1.02);
}
