* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f4f6;
    direction: rtl;
    color: #333;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #218838;
}

#loadingIcon {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

.control-panel {
    display: flex;
}

.sidebar {
    width: 250px;
    background: linear-gradient(145deg, #444, #333);
    color: #fff;
    min-height: 100vh;
    padding: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
}

.sidebar ul li a i {
    margin-left: 10px;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.content {
    flex: 1;
    padding: 40px;
}

h1 {
    color: #444;
    margin-bottom: 20px;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #218838;
}
